/**
* @file media.view.css
*/

/* Generic styles */
/* modified CSS*/

.view-content, .entities-list{
    margin: 0 auto;
    width: 100% !important;
}
.view-content{
    height: auto !Important;
}
select {
    max-width: 100% !important;
    padding: 2px !important;
    line-height: 24px !important;
    min-width: 100px !important;
}
.fixed-edit-action{
    position: fixed;
    left: 0;
    right: 0;
    bottom: -13px;
    /* background: #fff; */
    height: 60px;
    line-height: 60px;
}
.form--inline{
    padding: 5px 5px 5px 20px !important;
    background: #f2f2f2 !important;
    margin-bottom: 15px !important;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) !important;
}

.grid-item.item-style, .grid-item-library.item-style,.rendered-entity.item-style {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    padding: 10px !important;
    background: #fff !important;
    border: 1px solid #ddd !important;
    margin: 8px !important;
}
.form-actions{
    text-align:center;
}
.pager {
    padding: 20px;
    
}
.bottom-pager{
    position: relative;
    top: -55px;
    margin-bottom: 30px;
}

/* set default standard media queries for responsive grid. */
@media only screen and (min-width: 320px) {
    .grid-sizer,
    .grid-item {
        width: 100% !important;
    }
    .gutter-sizer {
        width: 10px;
    }
    .grid-item {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 44% !important;
    }
    .gutter-sizer {
        width: 10px;
    }
    .grid-item {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .grid-sizer,
    .grid-item {
        width: 23% !important;
    }
    .gutter-sizer {
        width: 10px;
    }
    .grid-item {
        margin-bottom: 10px;
    }
}

/* Jump back down for XL screens to better utilize the space. */
@media only screen and (min-width: 1280px) {
    .grid-sizer,
    .grid-item {
        width: 45%;
    }
    .gutter-sizer {
        width: 10px;
    }
    .grid-item {
        margin-bottom: 10px;
    }
}

.grid-item {
    opacity: 0;
    position:relative;
    display : block;
    text-align: center;
    background: #fff;
    padding: 1.5em;
    width: 45%;
    margin-bottom: 20px;
    height:auto;
    box-sizing: border-box;
    cursor:pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: .2s;
}

.grid-item:hover {
    border: 2px solid #37802f !important;
}

.grid-item.checked {
    border: 2px solid #37802f !important;
    background: url("../images/checkmark.svg") no-repeat center center !important;
}
.view-content-library {
    min-width:100%;
}
.view-content:after, .view-content-library:after, .entities-list:after{
    content: '';
    display: block;
    clear: both;
}

.grid-item img, .grid-item-library img {
    vertical-align: bottom;
}

.grid-item img::selection , .grid-item-library img::selection{
    background: transparent;
}

.grid-item.views-field-entity-browser-select , .grid-item-library.views-field-entity-browser-select{
    display: none;
}

.grid-item:after {
    content: " ";
    position:relative;
    display:block;
    clear:both;
    width: 100%;
    background: transparent url("../images/checkmark.svg") no-repeat center center;
    background-size: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.grid-item.checked:after {
    background-size: 54px 54px;
}

.grid-item-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.grid-item-info-left,
.grid-item-info-right {
    padding: 5px;
    color: white;
}

.grid-item-info-left {
    float: left;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-item-info-right {
    float: right;
}

input[type="submit"][name="filter"] {
    margin-left: 10px;
    margin-top: 30px;
}


/********************************************************************/
/*User library.css*/
/* Generic styles */
/* modified CSS*/

/* set default standard media queries for responsive grid. */
@media only screen and (min-width: 320px) {
    .grid-size-library,
    .grid-item-library,.item-container  {
        width: 100% !important;
    }
    .gutter-sizer-library {
        width: 5px;
    }
    .grid-item-library, .item-container{
        margin-bottom : 5px;
    }
}

@media only screen and (min-width: 768px) {
    .grid-sizer-library,
    .grid-item-library,.item-container  {
        width: 96% !important;
    }
    .gutter-sizer-library {
        width: 10px;
    }
    .grid-item-library,.item-container{
        margin-bottom:10px;
    }
}

@media only screen and (min-width: 992px) {
    .grid-sizer-library,
    .grid-item-library, .item-container  {
        width: 31.33% !important;
    }
    .gutter-sizer-library {
        width: 10px;
    }
    .grid-item-library,.item-container{
        margin-bottom:10px;
    }
}

/* Jump back down for XL screens to better utilize the space. */
@media only screen and (min-width: 1280px) {
    .grid-size-library,
    .grid-item-library, .item-container  {
        width: 23% !important;
    }
    .gutter-sizer-library {
        width: 7px;
    }
    .grid-item-library{
        margin-bottom:7px;
    }
}

@media only screen and (min-width: 1680px) {
    .grid-size-library,
    .grid-item-library, .item-container  {
        width: 21% !important;
    }
    .gutter-sizer-library {
        width: 7px;
    }
    .grid-item-library{
        margin-bottom:7px;
    }
}

.grid-item-library, .item-container{
    opacity: 1;
    width: 100%;
    display:block;
    height: auto;
    position:relative;
    text-align: center;
    background: #fff;
    padding: 1.5em;
    width: 23%;
    border: 1px solid #ddd !important;
    margin-bottom: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: .2s;
}
.item-container:after {
    content: " ";
    position:relative;
    display:block;
    clear:both;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

 .grid-item-library:after {
    content: " ";
    position:relative;
    display:block;
    clear:both;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.grid-item .views-field-entity-browser-select {
    display: none;
}
.clear-left{
    clear:left;
}
/*New Masonry CSS*/

.entities-list, .view-content{ /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.entities-list, .view-content {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}

.item-container, .grid-item, .grid-item-library {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
    .entities-list {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .view-content {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .entities-list {
        -moz-column-count: 2;
        -webkit-column-count:2;
        column-count: 2;
    }
    .view-content {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 900px) {
    .entities-list {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    .view-content {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 1100px) {
    .entities-list {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
    .view-content {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

